.page {
  min-width: 320px;
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}

.content {
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .content {
    padding: 0 24px;
  }
}
